$color-primary-main: #112D82;
$color-primary-dark: #102872;
$color-primary-light: #0C3D9D;
$color-primary-links: #005CD0;
$color-primary-links-light: #93BBFF;

$color-neutral-black: #000;
$color-neutral-white: #FFF;
$color-neutral-background: #F2F3F4;
$color-neutral-divider-grey: #DEDFE0;
$color-neutral-grey: #94A0AB;
$color-neutral-grey-text: #79838C;

$color-secondary-1: #F49F0A;
$color-secondary-2: #F7B900;
$color-secondary-3: #F5D306;
$color-secondary-4: #CEAE00;
$color-secondary-5: #008C2C;
$color-secondary-6: #9AD2FE;
$color-secondary-7: #B03600;
$color-secondary-8: #F86381;
$color-secondary-9: #FFBBC0;

$color-action-default: #00CB79;
$color-action-hover: #1A5CCC;
$color-action-active: #2172FF;
$color-action-navbar-link: #92A3D7;
$color-action-disabled: #D4D9DE;

$color-feedback-success: #00CB79;
$color-feedback-warning: #FFCF56;
$color-feedback-error: #FF0000;