@font-face {
    font-family: Crosig-Bold;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Crosig-BoldItalic;
    src: url('../fonts/Crosig-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Crosig-Light;
    src: url('../fonts/Crosig-Light.ttf') format('truetype');
}

@font-face {
    font-family: Crosig-Regular;
    src: url('../fonts/Crosig-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Crosig-RegularItalic;
    src: url('../fonts/Crosig-RegularItalic.ttf') format('truetype');
}

@font-face {
    font-family: CrosigRavniBrojevi-Light;
    src: url('../fonts/CrosigRavniBrojevi-Light.ttf') format('truetype');
}


@font-face {
    font-family: CrosigSans-Bold;
    src: url('../fonts/CrosigSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: CrosigSans-BoldItalic;
    src: url('../fonts/CrosigSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: CrosigSans-Regular;
    src: url('../fonts/CrosigSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: CrosigSans-RegularItalic;
    src: url('../fonts/CrosigSans-RegularItalic.ttf') format('truetype');
}
