footer {
    height: 1.5625rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 2rem;

    & .row {
        padding-bottom: 1.25rem;
    }
}

.footer-info {
    font-size: 0.8125rem;
    padding-left: 0.75rem;
}

.footer-logo {
    height: 1.5rem;
    width: 2.125rem;
}