h1 {
    font-size: 76px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h2 {
    font-size: 60px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h3 {
    font-size: 46px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h4 {
    font-size: 34px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h5 {
    font-size: 34px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h6 {
    font-size: 26px;
    src: url('../fonts/CrosigSans-Bold.ttf') format('truetype');
}

h7 {
    font-size: 24px;
    src: url('../fonts/CrosigSans-Bold.ttf') format('truetype');
}

h8 {
    font-size: 20px;
    src: url('../fonts/Crosig-Bold.ttf') format('truetype');
}

h9 {
    font-size: 20px;
    src: url('../fonts/CrosigSans-Bold.ttf') format('truetype');
}

h10 .button {
    font-size: 16px;
    src: url('../fonts/CrosigSans-Bold.ttf') format('truetype');
}

input[type=text] {
    font-size: 18px;
    src: url('../fonts/Crosig-Light.ttf') format('truetype');
}

a {
    font-size: 17px;
    src: url('../fonts/CrosigSans-Regular.ttf') format('truetype');
}

.body-large {
    font-size: 20px;
    src: url('../fonts/Crosig-Light.ttf') format('truetype');
}

.body-small .body-label {
    font-size: 16px;
    src: url('../fonts/Crosig-Light.ttf') format('truetype');
}

.helper-text {
    font-size: 13px;
    src: url('../fonts/Crosig-Light.ttf') format('truetype');
}

.straight-numbers {
    src: url('../fonts/CrosigRavniBrojevi-Light.ttf') format('truetype');
}
