.cap {
    .form-group {
        text-align: left;
    }

    input {
        font-size: 1.125rem;
        font-family: Crosig-Light;
        height: 3.4375rem;
        border-radius: 0.75rem;
        padding: 0.75rem 1rem;
        border: 0.13rem solid $color-neutral-grey-border;
        background: $color-neutral-white;
        color: $color-primary-inputs;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 0.25rem 0rem;

        &.error {
            border-color: $color-feedback-error;
        }

        &:hover {
            opacity: 0.5;
        }

        &.disabled {
            background: $color-neutral-background;
            color: $color-neutral-grey-text;
        }
    }

    input:hover {
        box-shadow: none!important;
        // border: none;
    }

    input:focus {
        box-shadow: none!important;
        opacity: 1!important;
        border-color: $color-action-active;
        color: $color-primary-inputs;
        pointer-events: none;
        box-shadow: none;
        // border: none;
    }

    textarea {
        font-size: 1.125rem;
        font-family: Crosig-Light;
        height: 3.4375rem;
        border-radius: 0.75rem;
        padding: 0.75rem 1rem;
        border: 0.13rem solid $color-neutral-grey-border;
        background: $color-neutral-white;
        color: $color-primary-inputs;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 0.25rem 0rem;

        &.error {
            border-color: $color-feedback-error;
        }

        &:hover {
            opacity: 0.5;
        }

        &.disabled {
            background: $color-neutral-background;
            color: $color-neutral-grey-text;
        }
    }

    textarea:focus {
        box-shadow: none!important;
        opacity: 1!important;
        border-color: $color-action-active;
        color: $color-primary-inputs;
        pointer-events: none;
        box-shadow: none;
    }

    select {
        font-size: 1.125rem;
        font-family: Crosig-Light;
        height: 3.4375rem;
        border-radius: 0.75rem;
        padding: 0.75rem 1rem;
        border: 0.13rem solid $color-neutral-grey-border;
        background: $color-neutral-white;
        color: $color-primary-inputs;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 0.25rem 0rem;

        &.error {
            border-color: $color-feedback-error;
        }

        // &:hover {
        //     opacity: 0.5;
        // }

        &.disabled {
            background: $color-neutral-background;
            color: $color-neutral-grey-text;
        }
    }

    select:focus {
        box-shadow: none!important;
        opacity: 1!important;
        border-color: $color-action-active;
        color: $color-primary-inputs;
        pointer-events: none;
    }

    label {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $color-neutral-black-label;
        opacity: 0.8;
        margin-bottom: 0;
    }

    .form-description-text {
        font-family: CrosigSans-Regular;
        font-size: 0.8125rem;
        color: $color-neutral-grey-text;
    }
    
    .form-feedback-text {
        font-family: CrosigSans-Regular;
        font-size: 0.8125rem;

        &.success {
            color: $color-feedback-success;
        }
        &.warning {
            color: $color-feedback-warning;
        }
        &.danger {
            color: $color-feedback-error;
        }
    }
    
    .form-mandatory-field {
        font-family: CrosigSans-Regular;
        font-size: 0.8125rem;
        opacity: 0.8;
        color: $color-feedback-error;
    }

    .form-select-box {
        border: 2px solid $color-neutral-grey-border;
        color: $color-neutral-grey-text;
        border-radius: 0.75rem;

    }

    .toggle.label .checkbox-label .radio.label {
        font-family: CrosigSans-Regular;
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color-neutral-black-label;

        &.vetical-label {
            display: flex;
            align-items: center;
            text-align: center;
            transform: rotate(-90deg);
        }
    }

    .form-toggle {
        .toggle-switch-check:empty ~ .toggle-switch-bar:after,
        .toggle-switch-check:checked ~ .toggle-switch-bar:after {
            height: 1.5rem;
            width: 1.5rem;
        }

        border-radius: 0.625rem;

        &.checked {
            background: $color-primary-inputs;

            &.hover {
                background: $color-action-hover;
            }

            &.active {
                background: $color-action-active;
            }

            &.disabled {
                background: $color-toggle-checked-disabled;
            }

        }
        
        &.unchecked {
            background: $color-action-disabled;

            &.hover {
                background: $color-neutral-grey;
            }

            &.active {
                background: $color-toggle-unchecked-disabled;
            }

            &.disabled {
                background: $color-neutral-divider-grey;
            }

        }
    }

    .form-radio {
        height: 2.125rem;
        width: 2.125rem;
        border-radius: 1rem;

        &.checked {
            background: $color-action-active;
            &.hover{
                background: $color-action-hover;
            }

            &.active{
                background: $color-action-active;
            }

            &.disabled{
                background: $color-neutral-divider-grey;
            }
        }

        &.unchecked {
            background: $color-neutral-white;
            border: 1px solid $color-neutral-grey-border;
            &.hover{
                background: $color-neutral-white;
                border: 1px solid $color-neutral-divider-grey;
            }

            &.active{
                background: $color-neutral-white;
                border: 1px solid $color-action-active;
            }

            &.disabled{
                background: $color-neutral-background;
            }
        }

    }

    .form-checkbox {
        height: 2.125rem;
        width: 2.125rem;
        border-radius: 0.4375rem;

        &.checked {
            background: $color-action-active;

            &.hover{
                background: $color-action-hover;
            }

            &.active{
                background: $color-action-active;
            }

            &.disabled{
                background: $color-action-disabled;
            }
        }

        &.unchecked {
            background: $color-neutral-white;
            border: 2px solid $color-neutral-grey-border;
            &.hover{
                background: $color-neutral-white;
                border: 2px solid $color-neutral-divider-grey;
            }

            &.active{
                background: $color-neutral-white;
                border: 2px solid $color-action-active;
            }

            &.disabled{
                background: $color-neutral-background;
            }
        }

    }

}
